.App{
  height: 100vh;
}
.container{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  overflow: auto;
  background-color: #5050BA;
}
.btn{
  padding: 10px 20px;
  background-color: #E0E0E0;
  border: none;
}
.btn:active{
  background-color: #c9c9c9;
  transition: all 0.1s ease-in;
}
.btn-main{
  color: #5050BA;
  font-size: 14px;
  font-weight: bold;
  width: 100%;
  height: 100%;
}

/* Basket Header */
.basket {
  width: 100%;
  height: 100vh;
}
.basket-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 28px;
  font-weight: bold;
  background-color: #FFFFFF;
  border-bottom: 1px solid #E0E0E0;
  padding: 20px 30px;
}
.basket-title button{
  background-color: #FFFFFF;
  font-size: 24px;
  border: none;
  padding: 10px;
}
.basket-title button:active{
  background-color: #c9c9c9;
  border-radius: 10px;
  transition:0.3s cubic-bezier(0.39, 0.575, 0.565, 1), visbility 0s;
}

/* Basket main */
.basket-content{
  height: 100%;
  background-color: #FFFFFF;
}
ul{
  background-color: #FFFFFF;
  height: 100%;
}

/* Product */
.product{
  border: 1px solid #E0E0E0;
  height: 220px;
  padding: 20px 30px;
  font-size: 22px;
  list-style-type: none;
  background-color: #FFFFFF;
}
.product p{
  font-size: 14px;
}
.product-description{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.product-description img{
  background-color: #E0E0E0;
  min-width: 100px;
  height: 75px;
}
.description{
  padding:  0 10px;
  width: 100%;
}
.remove-button{
  height: 30px;
  background-color: #FFFFFF;
  font-size: 22px;
  border: none;
  padding: 5px 10px;
}
.remove-button:active{
  background-color: #c9c9c9;
  transition: all 0.1s ease-in;
  border-radius: 10px;
}
.product-property{
  color: #B9B9ED;
}
.product-property span {
  color: black;
}
.qty-price{
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}
.qty, .price{
  display: flex;
  align-items: center;
}
.price{
  justify-content: flex-end;
}
.price span{
  margin-left: 30px ;
  color: #B9B9ED;
}
.price span:last-of-type{
  color: #000000;
}
.qty button{
  width: 30px;
  height: 30px;
  background-color: #5050BA;
  color: #FFFFFF;
  font-size: 14px;
}
.qty button:first-of-type{
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  margin-left: 10px;
}
.qty button:last-of-type{
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.qty input{
  width: 50px;
  height: 30px;
  background-color: #FFFFFF;
  border: 1px solid #E0E0E0;
  outline: none;
  text-align: center;
}
.up-sell-container{
    display: flex;
    flex-direction: column;
    background-color:  #B9B9ED;
    padding: 20px 30px;
}
.up-sell-container img {
  width: 100px;
  height: 75px;
  margin: 10px;
}
.extra-product{
  background-color: #FFFFFF;
  margin: 10px 0;
  display: flex;
  flex-direction: row;
  font-size: 12px;
  font-weight: 600;
  padding: 30px 20px;
}
.kupa {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 75px;
  margin: 10px;
  width: 80%;
  font-size: 14px;
}
.kupa div{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.extra-product button{
  background-color: #5050BA;
  color: #FFFFFF;
  padding: 5px 30px;
  border-radius: 4px;
  border: none;
  font-weight: 400;
  font-size: 12px;
}



















/* Basket summary */
.basket-summary {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  border-top: 1px solid #E0E0E0;
  padding: 20px 30px;
  background-color: #FFFFFF;
}
.shipping, .order-total{
  font-size: 22px;
  margin: 10px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.order-total{
  font-weight: bold;
}
.btn-summary{
  width: 100%;
  color: #ffffff;
  background-color: #5050BA;
  padding: 22px;
  font-size: 22px;
  text-decoration: none;
  text-align: center;
  margin: 10px 0;
}

@media (min-width: 480px){
  .container{
    display: flex;
    flex-direction: column;
  }
  .basket{
    height: 100%;
    align-self: flex-end;  
  }
  .basket, .basket-summary  {
    width: 36%;
    min-width: 460px;
    max-width: 520px; 
  }
  .product{
    display: flex;
    flex-direction: column;
  }
  .product-description img{
    min-width: 100px;
  }
  .qty-price{
    display: flex;
    align-self: flex-end;
    width: calc(100% - 110px)
  }
  .price{
    flex-direction: column;
  }
}
